body {
    font-family: Arial;
    background: #f1f1f1;
    padding-top: 70px;
}

.padding-spacing {
    padding: 20px;
}

.margin-spacing {
    margin: 20px;
}

h3 {
    text-align: center;
}

p {
    text-justify: auto;
    text-indent: 30pt;
}